.details{
    position: relative;
    &-container{
        position: sticky;
        top: 0;
        padding: 25px;
        margin-left: 5%;
        border: 1px solid #000;
    }
}

@media only screen and (max-width: 768px) {
    .details{
        &-container{
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}