.header{
    display: flex;
    padding: 2rem 6%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    &-breadcrumbs{
        display: flex;
        align-items: center;
        img{
            width: 30px;
            cursor: pointer;
        }
    }
    &-icon{
        background-repeat: no-repeat;
        background-position: left;
        font-weight: 600;
        &.cat{
            background-image: url(../../assets/cat.png);
            padding-left: 32px;
        }
        &.heart{
            background-image: url(../../assets/heart.png);
            background-size: contain;
            padding-left: 24px;
            cursor: pointer;
        }
    }
}